.container-banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh;
}

.banner h1 {
  text-align: center;
  color: white;
}

.banner p {
  text-align: center;
  color: white;
  margin-right: 87px;
  margin-top: 20px;
}

.banner-btn {
  margin-top: 180px;
  position: relative;
  margin-left: 448px;
}
