.navbar-contact-manager {
  justify-content: space-between;
  background: #95918D;
}

.navbar-contact-manager .navbar-collapse {
  flex-grow: 0;
}

.navbar-contact-manager .navbar-brand img {
  width: 40px;
}

.nav-link {
  color: white;
  padding: 3px;
  width: fit-content;
&:hover {
  background-color: $dark-blue;
  border-color: $dark-blue;
  transition: 1000ms;
  color: black;
}
}


