.input-name {
  text-align: center;
  display: grid;
}

div.form-inputs {
  text-align: center;
  width: 250px;
  margin-left: 315px;
}

div.form-actions {
  margin-bottom: 10px;
  // margin-left: 20px;
  text-align: center;
  margin-left: 30px;

}
